@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
    background: #dddddd url("/static/img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    background: transparent;
}

main {
    height: 100vh;
}

.custom-container {
    text-align: center;
    color: #eeeeee;
}

.custom-container form,
.custom-container label {
    color: #eeeeee;
}

.custom-container > .darkBackground {
    padding-top: 15px;
    padding-bottom: 15px;

    background: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

input[type='text'],
input[type='url'],
input[type='email'] {
    color: #696969 !important;
    box-shadow: none !important;
}

input:focus::placeholder {
    color: transparent;
}

label.required:after {
    display: inline-block;
    content: "*";
    color: #ff1f1f;
    font-weight: bold;
    padding-left: 0.2rem;
}

img {
    margin-bottom: 25px;
}

.button {
    background-color: #16A044;
    font-size: 14pt !important;
    font-weight: bold;
}
.button:hover,
.button:focus {
    background-color: #1FA19B;
}

a:hover, a.active {
    text-decoration: underline;
}
a {
    color: #1FA19B;
}
a:focus, a:active, a:visited, a:hover, a.active {
    color: #52D4CE;
}
a.active {
    cursor: default;
}

.hidden {
    display: none;
}

#newUrl {
    font-family: 'Roboto Mono', monospace;
}

.view-title {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 1rem;
    position: relative;
}

.view-title h4 {
    margin: 0;
}

.view-title .back {
    top: -0.8rem;
    right: -0.5rem;
    position: absolute;
    font-size: 1.2rem;
}

.view-title.just-back {
    border: 0;
    margin: 0;
}

.input-group {
    margin: 0;
}

.input-group-link {
    font-size: 10pt;
    display: inline-block;
    padding: 0.5rem 0 0 0;
}

.input-group-link .svg-inline--fa {
    margin-right: 0.4rem;
}

.footer {
    font-size: 10pt;
    margin-top: 1rem;
}

.footer a:not(:first-child) {
    margin-left: 10px;
}

table tbody td {
    color: #444;
}

/*
 * Cookie bar
 */
.cookie-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    color: #eeeeee;
    background: rgba(0, 0, 0, 0.6);
    padding: 0;
    margin: 0;
    min-height: 70px;
    line-height: 70px;
    font-size: 13.2pt;

    /* Shadow */
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.mobile-submit-button {
    width: 100%;
    height: 2.4375rem;
    font-size: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .input-group-link {
        padding: 0.5rem 0;
        width: 100%;
    }

    .cookie-bar {
        line-height: normal;
        text-align: center;
    }

    .cookie-bar .cell {
        padding: 15px;
    }

    .cookie-bar .text-right {
        text-align: center;
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .custom-container {
        width: 55% !important;
    }

    .custom-slug label:last-child input {
        margin-bottom: 0;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

.cookie-bar .button {
    font-size: inherit !important;
    font-weight: inherit;
    padding: 10px 15px;
    margin: 0;
}

/*
 * Loader
 */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 72px;
    height: 72px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #16A044;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}