<div class="cookie-bar" ng-if="!View.Cookies.Accepted">
    <div class="grid-x grid-padding-x">
        <div class="cell medium-10">
            Kort.App maakt gebruik van enkele functionele cookies
        </div>
        <div class="cell medium-2 text-right">
            <button class="button" ng-click="View.Cookies.Accept();">OK</button>
        </div>
    </div>
</div>