<div class="custom-slug" ng-if="customSlug">
    <label title="U kunt hier zelf het einde van de Kort.App url bepalen.&#010;Dit is het laatste stukje in de uiteindelijke url.&#010;&#010;Minimale lengte <%= (parseInt(WebApp.SlugLength) + 1) %>">
        Aangepaste URL
        <input type="text" placeholder="Aangepaste URL" ng-model="form.slug.value" empty-to-null/>
    </label>
<!--    <label title="Uw E-Mail wordt eenmalig gebruikt om u te voorzien van een wijzigingscode.&#010;Deze kunt u gebruiken om de URL na het aanmaken te wijzigen of te verwijderen.&#010;&#010;LETOP!!&#010;Deze wordt slechts eenmalig verstrekt, uw e-mail wordt bovendien niet opgeslagen.">-->
<!--        E-Mail-->
<!--        <input type="text" placeholder="example@example.com" ng-model="form.mail.value" empty-to-null/>-->
<!--    </label>-->
</div>