<div class="grid-container text-left" style="font-size: 10pt;" ng-if="View.getCurrent() == 'disclaimer'">
    <div class="view-title">
        <h4>Disclaimer</h4>
        <a class="back" ng-click="View.setView('InputView');"><i class="fas fa-reply"></i></a>
    </div>
    <div>
        De standaard afgekorte URL's zijn een periode van 1 jaar geldig.
        Na verloop van een jaar wordt de URL automatisch en permanent verwijderd.
        Uw gegevens zoals bijv het ip adres wordt nooit door Kort.App opgeslagen.
        <br/>
        <br/>
        Kort.App neemt geen verantwoordelijkheid voor het volgende:
        <ul style="margin-bottom: 0;">
            <li>Het verdwijnen van URL's ook als ze nog houdbaar zijn.</li>
            <li>De inhoud van de doorverwezen pagina's.</li>
            <li>De bereikbaarheid/uptime van de doorverwezen pagina's.</li>
        </ul>
    </div>
</div>