<%- include('loader'); -%>
<div class="grid-container text-left footer">
    <div class="grid-x">
        <div class="cell small-10">
            <a ng-click="View.setView('disclaimer');" ng-class="{active: View.getCurrent() == 'disclaimer'}" ng-if="View.getCurrent() != ''">Disclaimer</a>
            <a ng-click="View.setView('stats');" ng-class="{active: View.getCurrent() == 'stats'}" ng-if="View.getCurrent() != ''">Statistieken</a>
        </div>
        <div class="cell small-2 text-right" style="color: #bbb;" title="Web Versie: v{{ Versions.Web }}&#010;API Versie: v{{ Versions.API }}">
            v{{ Versions.Web }}
        </div>
    </div>
</div>